@import "../omarchy/current/theme/waybar.css";

@define-color island-bg alpha(@background, 0.92);
@define-color island-shadow alpha(@background, 0.45);

* {
  background: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

window#waybar {
  background: transparent;
}

.modules-left {
  margin-left: 14px;
}

.modules-right {
  margin-right: 14px;
}

.modules-center {
  margin: 0 10px;
}

.modules-left,
.modules-center,
.modules-right {
  background: @island-bg;
  border-radius: 14px;
  padding: 3px 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0 0px 0px @island-shadow;
}

.modules-left > *,
.modules-center > *,
.modules-right > * {
  margin: 0;
}

.modules-left > *:not(:first-child),
.modules-center > *:not(:first-child),
.modules-right > *:not(:first-child) {
  margin-left: 10px;
}

#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 8px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 16px;
}

#network {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 16px;
  padding-right: 6px;
  border-right: 1px solid alpha(@foreground, 0.15);
}

#tray {
  margin: 0;
  padding-left: 0px;
  padding-right: 16px;
}

#workspaces {
  padding: 0 2px;
}

tooltip {
  padding: 2px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 9px;
  color: @foreground;
  background: transparent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 9px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
